*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
    color: black;
}


/*-----------------------------------------------INICIO------------------------------------------------------*/
.bloque{
    height: 40px;
    background-color: #000a12;
}
.logo-head{
    float: right;
    display: flex;
}
.bloque a{
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background: #3b6779;
    border-radius: 50%;
    margin: 2px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.bloque a:hover{
    transform: scale(1.3);
    transition: 0.3s;
}

/*BARRA DE NAVEGACION*/
header{
    background-color: #1c313a;
}
.colorbarra{
    color: white;
    font-size: 20px;
}
.container-fluid .container-fluid{
    margin: 15px;
}
/*FIN BARRA DE NAVEGACION*/

/*CUERPO INICIO*/
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: white;
}
.about img{
    height: auto;
    width: 400px;
}
.about-text{
    width: 580px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: #005662;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 40px;
    text-align: left;
}
.about-text h5{
    color: #00bfa5;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.about-text p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 45px;
    text-align: justify;
}
.about button{
    background-color: #000a12;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.about button a{
    color: white;
    text-decoration: none;
}
.about button:hover{
    border: 2px solid #00bfa5;
    cursor: pointer;
}
/*FIN CUERPO*/
/*FOOTER*/
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 350px;
    background:  #000a12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    font-size: 15px;
    color: white;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3b6779;
    border-radius: 50%;
    margin: 20px 10px;
    color: white;
    text-decoration: none;
    font-size: 28px;
}
.social a:hover{
    transform: scale(1.3);
    transition: 0.3s;
}
.end{
    position: absolute;
    color: #8eacbb;
    bottom: 35px;
    font-size: 14px;
}
/*FIN DEL FOOTER*/

/*-------------------------------------------FIN INICIO------------------------------------------------------*/
/*---------------------------------------------CULTURA------------------------------------------------------*/
.letras{
    background: white;
    width: 100%;
    padding: 50px 60px;
}
.title h2{
    color: #02535c;
    font-size: 40px;
    margin: 15px auto;
    text-align: center;
}
.box-letras{
    display: flex;
    width: auto;
    padding: 0px 10px;
}
.card-text{
    width: 32%;
    height: 345px;
    padding: 20px 25px;
    background: #bbe4e9;
    border-radius: 20px;
    margin: 15px 15px;
    position: relative;
    overflow: hidden;
}
.card-text-1{
    width: 32%;
    height: 345px;
    padding: 20px 25px;
    background: #bbe4e9;
    border-radius: 20px;
    margin: 15px 15px;
    position: relative;
    overflow: hidden;
}
.card-text h5{
    color: #1c313a;
    font-size: 23px;
    text-align: center;
    padding: 20px 0px;
}
.card-text p{
    color: black;
    text-align: justify;
    font-size: 15px;
    line-height: 27px;
    margin: 0px 10px;
}
.card-text-1 img{
    width: 450px;
    height: auto;
}

/*------------------------------------------FIN CULTURA------------------------------------------------------*/
/*---------------------------------------------DESTINOS------------------------------------------------------*/
/*CUERPO INICIO*/
.info-1{
    width: 100%;
    padding: 50px 0px;
    background-color: white;
}
.info-1 img{
    height: auto;
    width: 430px;
}
.info-1-text{
    width: 550px;
    padding: 30px 0px;
}
.main-1{
    width: 1130px;
    max-width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.info-1-text h2{
    color: #005662;
    font-size: 33px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: left;
}
.info-1-text h5{
    color: #00bfa5;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.info-1-text p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: justify;
}
/*FIN CUERPO*/
/*-----------------------------------------FIN DESTINOS------------------------------------------------------*/
/*----------------------------------------------GALERIA------------------------------------------------------*/
.gallery-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: 150px;
    padding: 30px;
    grid-gap: 10px;
}   
.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:nth-child(1){
    grid-column-start: span 2;
}
.gallery-item:nth-child(2){
    grid-column-start: span 2;
}
.gallery-item:nth-child(3){
    grid-column-start: span 2;
}
.gallery-item:nth-child(4){
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.gallery-item:nth-child(6){
    grid-column-start: span 3;
}
.gallery-item:nth-child(7){
    grid-column-start: span 2;
}
.gallery-item:nth-child(8){
    grid-column-start: span 2;
}
.gallery-item:nth-child(12){
    grid-column-start: span 3;
    grid-row-start: span 2;
}
/*-----------------------------------------FIN GALERIA------------------------------------------------------*/
/*------------------------------------------CONTACTO--------------------------------------------------------*/
.contact-box{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    background-color: white;
}
.contact-wrapper{
    box-shadow: 0 0 10px 0;
    height: auto;
    display: flex;
}
.contact-form{
    background: #005662;
    padding: 30px 0px;
    width: 70%;
}
.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form form .block{
    grid-column: 1/3;
}
.contact-form form p{
    margin: 0 10px;
    padding: 10px;
}
.contact-form h3{
    color: white;
    padding: 20px;
}
.contact-form form label{
    color: white;
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    border-bottom: 2px solid #00bfa5;
    outline: 0;
    color: white;
}
.contact-form form button{
    background: #00bfa5;
    color: white;
    border: 0;
    text-transform: uppercase;
    padding: 1.5em;
}
.contact-form form button:hover,
.contact-form form button:focus{
    background: #00bfa5;
    color: white;
}

.contact-info{
    background-color: #1c313a;
    padding: 30px 30px;
    width: 30%;
}

.contact-info ul,
.contact-info p{
    text-align: justify;
    color: white;
    font-size: 14px;
}

.contact-info ul li{
    list-style: none;
    padding: 5px 0px;
}
.contact-info ul li i{
    padding: 0px 10px;
}

/*-------------------------------------FIN CONTACTO------------------------------------------*/


/*--------------------------TAMAÑO CELULAR--------------------------------*/
@media (max-width:576px){
    .colorbarra{
        color: white;
        font-size: 17px;
    }
    /*---------cuerpo inicio----------*/
    .about{
        padding: 30px 0px;
    }
    .main{
        width: auto;
        margin: 0 auto;
        display: block;
        align-items: center;
        justify-content: space-around;   
    }
    .about img{
        height: auto;
        width: 100%;
        padding: 10px 15px;
    }
    .about-text{
        width: auto;
        padding: 30px 15px;
    }
    .about-text h2{
        text-align: center;
        font-size: 30px;
    }
    .about-text h5{
        text-align: center;
        font-size: 18px;
    }
    .about-text p{
        font-size: 13px;
        padding: 0px 10px;
    }
    /*---------footer----------*/
    footer{
        height: 300px;
        width: auto;
        background:  #000a12;
    }
    .footer-container{
        width: 100%;
        height: 300px;
    }
    footer p:nth-child(1){
        font-size: 17px;
        color: white;
        margin-bottom: 10px;
        font-weight: bold;
    }
    footer p:nth-child(2){
        font-size: 14px;
        color: white;
        width: 300px;
        text-align: center;
        line-height: 15px;
    }
    .social{
        display: flex;
    }
    .social a{
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
    .end{
        position: absolute;
        color: #8eacbb;
        bottom: 30px;
        font-size: 14px;
    }
    /*--FIN FOOTER--*/    
    /*---------fin body inicio----------*/

    /*----------FIN CULTURA-----------*/
    .letras{
        padding: 30px 0px;   
    }
    .box-letras{
        width: auto;
        margin: 0 auto;
        display: block;
        align-items: center;
        justify-content: space-around; 
    }
    .card-text{
        width: auto;
        height: auto;
        padding: 30px 15px;
    }

    .card-text-1{
        width: auto;
        height: auto;
        padding: 10px 0px;

    }
    .card-text-1 img{
        width: 450px;
        height: auto;
    }

    /*----------FIN CULTURA-----------*/

    /*---------body destinos----------*/
    .info-1{
        padding: 30px 0px;
    }
    .main-1{
        width: auto;
        margin: 0 auto;
        display: block;
        align-items: center;
        justify-content: space-around;
    }
    .info-1 img{
        height: auto;
        width: 100%;
        padding: 10px 15px;
    }
    .info-1-text{
        width: auto;
        padding: 30px 15px;
    }
    .info-1-text h2{
        text-align: center;
    }
    .info-1-text h5{
        text-align: center;
    }
    /*---------fin body destinos----------*/
    /*------------galeria-----------------*/
    .gallery-container{
        grid-auto-flow: 100px;
    }
    .gallery-item:nth-child(1){
        grid-column-start: span 6;
    }
    .gallery-item:nth-child(2){
        grid-column-start: span 6;
    }
    .gallery-item:nth-child(3){
        grid-column-start: span 6;
    }
    .gallery-item:nth-child(4){
        grid-column-start: span 6;
    }
    .gallery-item:nth-child(5){
        grid-column-start: span 6;
    }    
    .gallery-item:nth-child(6){
        grid-column-start: span 6;
    }
    .gallery-item:nth-child(7){
        grid-column-start: span 6;
    }
    .gallery-item:nth-child(8){
        grid-column-start: span 6;
    }
    .gallery-item:nth-child(9){
        grid-column-start: span 6;
    }
    .gallery-item:nth-child(10){
        grid-column-start: span 6;
    }
    .gallery-item:nth-child(11){
        grid-column-start: span 6;
    }
    .gallery-item:nth-child(12){
        grid-column-start: span 6;
    }
    .gallery-item:nth-child(13){
        grid-column-start: span 6;
    }
    .gallery-item:nth-child(14){
        grid-column-start: span 6;
    }
    .gallery-item:nth-child(15){
        grid-column-start: span 6;
    }
     /*------fin PAGE Galeria------*/
    /*------PAGE CONTACTO------*/
    .contact-box{
        width: 90%;
        padding: 30px 0px;
    }
    .contact-wrapper{
        width: auto;
        margin: 0 auto;
        display: block;
        align-items: center;
        justify-content: space-around;
    }
    .contact-form{
        height: auto;
        width: 100%;
        padding: 10px 15px;
    }
    .contact-info{
        width: auto;
        padding: 30px 30px;
    }
    /*FIN PAGE CONTACTO*/
}
/*----------------------FIN MODELADO TAMAÑO CELULAR----------------------*/

/*--------------------------TAMAÑO TABLET--------------------------------*/
@media (min-width:768px) and (max-width:1024px){
    .colorbarra{
        color: white;
        font-size: 17px;
    }
    /*---------cuerpo inicio----------*/
    .about{
        padding: 30px 0px;
    }
    .main{
        width: auto;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;   
    }
    .about img{
        height: auto;
        width: 30%;
        padding: 10px 5px;
    }
    .about-text{
        width: 70%;
        padding: 15px 15px;
    }
    .about-text h2{
        text-align: left;
        font-size: 30px;
        margin-bottom: 15px;
        padding: 0px 10px;
    }
    .about-text h5{
        text-align: left;
        font-size: 18px;
        margin-bottom: 10px;
        padding: 0px 10px;
    }
    .about-text p{
        font-size: 13px;
        padding: 0px 10px;
        margin-bottom: 20px;
    }
    .about button{
        padding: 13px 30px;
    }

    /*PAGE CULTURA TABLET*/
    .letras{
        padding: 50px 0px;
    }
    .title h2{
        font-size: 30px;
    }
    .box-letras{
        display: flex;
        width: auto;
        padding: 5px 5px;
    }
    .card-text{
        width: 32%;
        height: auto;
        margin: 7px 12px;
        padding: 30px 5px;
    }
    .card-text-1{
        width: 36%;
        height: auto;
        margin: 7px 10px;
    }
    .card-text h5{
        color: #1c313a;
        font-size: 18px;
        text-align: center;
        padding: 5px 0px;
    }
    .card-text p{
        text-align: justify;
        font-size: 12px;
        line-height: 18px;
        padding: 10px 0px;
    }
    .card-text-1 img{
        width: 370px;
        height: auto;
        padding: 10px 0px;
        margin: 2px 1px;
    }
    /*fin de cultura*/
    /*destino*/
    .info-1{
        width: auto;
        padding: 30px 15px;
        background-color: white;
    }
    .info-1 img{
        height: auto;
        width: 40%;
        padding: 30px 15px;
    }
    .info-1-text{
        width: 60%;
        padding: 30px 15px;
    }
    .main-1{
        width: 768px;
        max-width: 100%;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .info-1-text h2{
        color: #005662;
        font-size: 30px;
        text-transform: capitalize;
        margin-bottom: 15px;
        text-align: left;
    }
    .info-1-text h5{
        color: #00bfa5;
        letter-spacing: 2px;
        font-size: 18px;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
    .info-1-text p{
        letter-spacing: 1px;
        line-height: 20px;
        font-size: 12px;
        margin-bottom: 10px;
        text-align: justify;
    }
    /*destino*/

    /*contacto*/
    .contact-box{
        width: 97%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-form{
        width: 65%;
    }
    .contact-form h3{
        color: white;
        padding: 20px;
        text-align: center;
    }
    .contact-info{
        background-color: #1c313a;
        padding: 30px 15px;
        width: 35%;
    }
    .contact-info ul li{
        list-style: none;
        padding: 5px 0px;
    }
    .contact-info ul li i{
        padding: 0px 10px;
    }
    /*contacto*/
}